*~
*.cgi
*.deps
*.libs
*.lo
*.o
*.qm
*.rlm
*.rpm
*.spec
*.tar.gz
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
make_slack
ltmain.sh
m4
Makefile
Makefile.in
missing
moc_*
rivendell
rivendell-suse
slack-desc
cae/caed
conf/rd-bin.conf
helpers/cwrap
helpers/jsmin
importers/panel_copy
importers/rdcatch_copy
importers/rivendell_filter
importers/sas_filter
importers/wings_filter
lib/librd.la
lib/rdpaths.h
pam_rd/pam_rd.la
rdadmin/rdadmin
rdairplay/rdairplay
rdcastmanager/rdcastmanager
rdcatch/rdcatch
rdcatchd/rdcatchd
rdhpi/librdhpi.la
rdlibrary/rdlibrary
rdlogedit/rdlogedit
rdlogin/rdlogin
rdlogmanager/rdlogmanager
rdpanel/rdpanel
ripcd/ripcd
tests/sas_switch_torture
tests/sas_torture
toolame/toolame
utils/rdaconvert/rdaconvert
utils/rdalsaconfig/rdalsaconfig
utils/rdchunk/rdchunk
utils/rddbcheck/rddbcheck
utils/rdfilewrite/rdfilewrite
utils/rdgen/rdgen
utils/rdgpimon/rdgpimon
utils/rdhpiinfo/rdhpiinfo
utils/rdimport/rdimport
utils/rdmaint/rdmaint
utils/rdpopup/rdpopup
utils/rdpurgecasts/rdpurgecasts
utils/rdsoftkeys/rdsoftkeys
utils/rmlsend/rmlsend
utils/sas_shim/sas_shim
web/rdfeed/rdfeed.xml
